################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NBi-Data-Testing-Suite/v15/.suo
